<div id="footer">
  <br>
  @Html.ActionLink("Home", "Index", "Home")
  <img id="footer-image" src="~/images/Line-style-icons-scissors.svg" width="15px" height="15px" alt="scissors icon">
  @Html.ActionLink("Stylists", "Index", "Stylists")
</div>