@{
  Layout = "_Layout";
}
@using HairSalon.Models.Stylist;

<h3>Add a new stylist</h3>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.FirstName)
  @Html.TextBoxFor(model => model.FirstName)
  <input type="submit" value="Add new stylist" />
}
<p>@Html.ActionLink("Show all stylists", "Index")</p>


