.headerpadding {
  margin-top: 80px;
}

ul {
  padding-left: 40px;
}


div#header {
  top: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: lightsteelblue;
  color: navy;
  font-style: italic;
  font-size: 12px;
  padding: 8px;
}


div#footer {
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: lightsteelblue;
  font-size: 12px;
  padding:  8px;
}



#footer-image {
  margin: 1% 2% 1%;
}
